ftp_server=192.168.0.3
ftp_login=administrator
ftp_password=Kd7%cns0B!
ftp_dir=/var/www/html/profsouz/cache/upload/
ftp_bat=D:/DBF/ftpcopy_plat.bat
sql_server=192.168.0.3
sql_port=3306
sql_login=Vasiliy
sql_password=Kd7%cns0B!Kd7%cns0B!
sql_basename=profsouz
path_scan=B:/SberATM/
path_error_uuid=B:/SberATM/plat_not_id/
path_error_finddoc=B:/SberATM/plat_not_doc/
path_after_end=B:/SberATM/otrabotano/
exe_doc_status=exebank
rtf_str_end=~plain~par
rtf_str_start_date=sl240 ~slmult1 ~f0~fs20~cf2
rtf_str_start_sum=sl240 ~slmult1 ~f0~fs20~cf2
rtf_str_start_num=sl240 ~slmult1 ~f0~fs20~cf2
rtf_nstr_num=19
rtf_nstr_date=17
rtf_nstr_sum=119
path_after_find=B:/SberATM/plat_after_find/
