ftp_server=192.168.0.3
ftp_login=administrator
ftp_password=Kd7%cns0B!
ftp_dir=/var/www/html/profsouz/cache/upload/
ftp_bat=D:/DBF/ftpcopy_plat.bat
sql_server=192.168.0.3
sql_port=3306
sql_login=Vasiliy
sql_password=Kd7%cns0B!Kd7%cns0B!
sql_basename=profsouz
path_scan=B:/SberATM/
path_error_uuid=B:/SberATM/plat_not_id/
path_error_finddoc=B:/SberATM/plat_not_doc/
path_after_end=B:/SberATM/otrabotano/
exe_doc_status=exebank
rtf_str_end=\plain\par}
rtf_str_start_num={\shp\shpbxpage\shpbypage\shpwr5\shpfhdr0\shpfblwtxt0\shpz15\shpleft4220\shpright6400\shptop2060\shpbottom2360{\sp{\sn fFilled}{\sv 0}}{\shpinst{\sp{\sn dyTextTop}{\sv 0}}{\sp{\sn dxTextLeft}{\sv 0}}{\sp{\sn dyTextBottom}{\sv 0}}{\sp{\sn dxTextRight}{\sv 0}}{\sp{\sn fLine}{\sv 0}}{\shptxt{\pard \fi0 \li0 \ri0 \sb0 \sa0 \cb1 \ql\sl240 \slmult1 \f0\fs20\cf2
rtf_str_start_date={\shp\shpbxpage\shpbypage\shpwr5\shpfhdr0\shpfblwtxt0\shpz13\shpleft6680\shpright8480\shptop2060\shpbottom2320{\sp{\sn fFilled}{\sv 0}}{\shpinst{\sp{\sn dyTextTop}{\sv 0}}{\sp{\sn dxTextLeft}{\sv 0}}{\sp{\sn dyTextBottom}{\sv 0}}{\sp{\sn dxTextRight}{\sv 0}}{\sp{\sn fLine}{\sv 0}}{\shptxt{\pard \fi0 \li0 \ri0 \sb0 \sa0 \cb1 \qc\sl240 \slmult1 \f0\fs20\cf2
rtf_str_start_sum={\shp\shpbxpage\shpbypage\shpwr5\shpfhdr0\shpfblwtxt0\shpz115\shpleft7620\shpright11200\shptop3620\shpbottom4460{\sp{\sn fFilled}{\sv 0}}{\shpinst{\sp{\sn dyTextTop}{\sv 0}}{\sp{\sn dxTextLeft}{\sv 25400}}{\sp{\sn dyTextBottom}{\sv 0}}{\sp{\sn dxTextRight}{\sv 0}}{\sp{\sn fLine}{\sv 0}}{\shptxt{\pard \fi0 \li0 \ri0 \sb0 \sa0 \cb1 \ql\sl240 \slmult1 \f0\fs20\cf2
rtf_nstr_num=20
rtf_nstr_date=18
rtf_nstr_sum=120
path_after_find=B:/SberATM/plat_after_find/